<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.admin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADMIN">
        <activity android:name=".Che_parking"></activity>
        <activity android:name=".OOP" />
        <activity android:name=".captcha" />
        <activity android:name=".Heroes_park" />
        <activity android:name=".RegiterNewClient" />
        <activity android:name=".ParkingLots" />
        <activity android:name=".ConParking" />
        <activity android:name=".parking_law" />
        <activity android:name=".Tables_1" />
        <activity android:name=".SecurityApphistory" />
        <activity android:name=".AdminApphistory" />
        <activity android:name=".Client_history_table" />
        <activity android:name=".U_client_Info" />
        <activity android:name=".Update_client_info" />
        <activity android:name=".Manuals" />
        <activity android:name=".Logs" />
        <activity android:name=".Clientmanual" />
        <activity android:name=".New_admin" />
        <activity android:name=".Administrators" />
        <activity android:name=".Security" />
        <activity android:name=".Client_settings" />
        <activity android:name=".Update_client" />
        <activity
            android:name=".ui.login.Update_Client"
            android:label="@string/title_activity_update__client" />
        <activity android:name=".Save_client" />
        <activity android:name=".NewClient" />
        <activity android:name=".Client" />
        <activity android:name=".Home_menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>